<!-- Footer -->
<div class="footer">
    <!-- Section Content -->
    <div class="section-content">
        <div class="container-fluid">
            <!-- Row -->
            <div class="row justify-content-md-center">
                <!-- Column -->
                <div class="col-md-3">
                    <!-- Footer Logo -->
                    <div>
                        <!-- Image -->
                        <a href="#home"><img class="logo" src="/assets/images/logo_only.png" alt=""></a>
                        <!-- End Image -->
                    </div>
                    <div class="separator-small"></div>
                    <!-- Footer Details -->
                    <div class="footer-details">
                        <!-- Phone -->
                        <p>N° téléphone: <a href="#">+33 6 42 10 98 41</a></p>
                        <!-- Email -->
                        <p>Email: <a href="mailto:contact@synapsium.com">contact@synapsium.com</a></p>
                        <!-- Address -->
                        <p>Paris & Montpellier</p>
                    </div>
                    <!-- End Footer Details -->
                </div>
                <!-- End Footer Logo -->
                <!-- Column -->
                <div class="col-md-2">
                    <!-- Footer Logo -->
                    <div>
                        <p>Pages</p>
                    </div>
                    <div class="separator-small"></div>
                    <!-- Footer Details -->
                    <div class="footer-details">
                        <p class="text-dark"><a href="/work">Works</a></p>
                        <p class="text-dark"><a href="/services">Services</a></p>
                        <p class="text-dark"><a href="/team">Découvrir la team</a></p>
                        <p class="text-dark"><a href="/contactus">Nous contacter</a></p>
                    </div>
                    <!-- End Footer Details -->
                </div>
                <!-- End Footer Logo -->
                
                <!-- Column -->
                <div class="col-md-3">
                    <div>
                        <p>A propos</p>
                    </div>
                    <div class="separator-small"></div>
                    <!-- Footer Details -->
                    <div class="footer-details">
                        <p>
                            Synapsium est un collectif de consultant indépendants, composé de profils marketing, technique et fonctionnel, spécialistes des nouvelles technologies et du digital. Nous accompagnons nos clients grand compte, PME et startups dans leurs projets de transformation et d'accélération digitale.
                        </p>
                    </div>
                    <!-- End Footer Details -->
                </div>
                <!-- Column -->
                <div class="col-md-2">
                    <!-- Footer Logo -->
                    <div>
                        <p>Social</p>
                    </div>
                    <div class="separator-small"></div>
                    <!-- Footer Details -->
                    <div class="footer-details">
                        <p><a href="https://twitter.com/synapsium">Twitter</a></p>
                        <p><a href="https://github.com/synapsium">Github</a></p>
                        <p><a href="https://www.linkedin.com/company/synapsiumsas/">Linkedin</a></p>
                        <p><a href="https://synapsium.slack.com">Slack</a></p>
                    </div>
                    <!-- End Footer Details -->
                </div>
                <!-- End Footer Logo -->
            </div>
            <!-- End Row -->
        </div>
    </div>
    <!-- End Section Content -->
</div>
<!-- End Footer -->