<!-- Footer -->
<div class="footer">
    <!-- Section Content -->
    <div class="section-content">
        <div class="container-fluid">
            <!-- Row -->
            <div class="row justify-content-md-center">
                <!-- Column -->
                <div class="col-md-3">
                    <!-- Footer Logo -->
                    <div>
                        <!-- Image -->
                        <a href="#home"><img class="logo" src="/assets/images/logo_only.png" alt=""></a>
                        <!-- End Image -->
                    </div>
                    <div class="separator-small"></div>
                    <!-- Footer Details -->
                    <div class="footer-details">
                        <!-- Phone -->
                        <p>N° téléphone: <a href="#">+33 6 42 10 98 41</a></p>
                        <!-- Email -->
                        <p>Email: <a href="mailto:contact@synapsium.com">contact@synapsium.com</a></p>
                        <!-- Address -->
                        <p>Paris & Montpellier</p>
                    </div>
                    <!-- End Footer Details -->
                </div>
                <!-- End Footer Logo -->
                <!-- Column -->
                <div class="col-md-2">
                    <!-- Footer Logo -->
                    <div>
                        <p>Pages</p>
                    </div>
                    <div class="separator-small"></div>
                    <!-- Footer Details -->
                    <div class="footer-details">
                        <p class="text-dark"><a href="/expertises">Expertises</a></p>
                        <p class="text-dark"><a href="/contactus">Nous contacter</a></p>
                        <p><a href="https://twitter.com/synapsium">Twitter</a></p>
                        <p><a href="https://www.linkedin.com/company/synapsiumsas/">Linkedin</a></p>
                    </div>
                    <!-- End Footer Details -->
                </div>
                <!-- End Footer Logo -->
                
                <!-- Column -->
                <div class="col-md-6">
                    <div>
                        <p>A propos</p>
                    </div>
                    <div class="separator-small"></div>
                    <!-- Footer Details -->
                    <div class="footer-details about">
                        <p>
                            Synapsium est une agence de conseil en transformation numérique, nous accompagnons les PME dans leurs projets de transformation et d’innovation sur le digital en identifiant les axes de croissance et d’optimisation de la performance offerts par le numérique. Nous avons également notre propre équipe de développeurs pour concevoir des produits & outils métiers sur-mesure.
                        </p>
                    </div>
                    <!-- End Footer Details -->
                </div>
                <!-- End Footer Logo -->
            </div>
            <!-- End Row -->
        </div>
    </div>
    <!-- End Section Content -->
</div>
<!-- End Footer -->