<!-- Footer -->
<div class="footer">
    <!-- Section Content -->
    <div class="section-content">
        <div class="container-fluid">
            <!-- Row -->
            <div class="row">
                <!-- Column -->
                <div class="col-md-3">
                    <!-- Footer Logo -->
                    <div>
                        <!-- Image -->
                        <a href="#home"><img class="logo" src="assets/images/logo_only.png" alt=""></a>
                        <!-- End Image -->
                    </div>
                    <div class="separator-small"></div>
                    <!-- Footer Details -->
                    <div class="footer-details">
                        <!-- Phone -->
                        <p>N° téléphone: <a href="#">+33 6 8 75 11 23</a></p>
                        <!-- Email -->
                        <p>Email: <a href="mailto:contact@synapsium.com">contact@synapsium.com</a></p>
                        <!-- Address -->
                        <p>Adresse: 64 av Pierre Brossolette, 92240, Malakoff.</p>
                    </div>
                    <!-- End Footer Details -->
                </div>
                <!-- End Footer Logo -->
                <!-- Column -->
                <div class="col-md-2">
                    <!-- Footer Logo -->
                    <div>
                        <p>Pages</p>
                    </div>
                    <div class="separator-small"></div>
                    <!-- Footer Details -->
                    <div class="footer-details">
                        <p class="text-dark"><a href="#">Home</a></p>
                        <p class="text-dark"><a href="#">About</a></p>
                        <p class="text-dark"><a href="#">Services</a></p>
                        <p class="text-dark"><a href="#">Works</a></p>
                    </div>
                    <!-- End Footer Details -->
                </div>
                <!-- End Footer Logo -->
                
                <!-- Column -->
                <div class="col-md-3">
                    <div>
                        <p>About us</p>
                    </div>
                    <div class="separator-small"></div>
                    <!-- Footer Details -->
                    <div class="footer-details">
                        <p>Randomised words which don't look. If passage words you are going to use a passage words which don't look of you need to be sure there isn't anything embarrassing hidden in the middle of text passage words which don't look of you need.</p>
                    </div>
                    <!-- End Footer Details -->
                </div>
                <!-- Column -->
                <div class="col-md-2">
                    <div>
                        <p>Connect</p>
                    </div>
                    <div class="separator-small"></div>
                    <!-- Footer Details -->
                    <div class="footer-details">
                        <p><a href="#">Blog</a></p>
                        <p><a href="#">News</a></p>
                        <p><a href="#">Subscribe</a></p>
                        <p><a href="#">Jobs</a></p>
                    </div>
                    <!-- End Footer Details -->
                </div>
                <!-- Column -->
                <div class="col-md-2">
                    <!-- Footer Logo -->
                    <div>
                        <p>Social</p>
                    </div>
                    <div class="separator-small"></div>
                    <!-- Footer Details -->
                    <div class="footer-details">
                        <p><a href="#">Twitter</a></p>
                        <p><a href="#">Instagram</a></p>
                        <p><a href="#">Facebook</a></p>
                        <p><a href="#">Behance</a></p>
                    </div>
                    <!-- End Footer Details -->
                </div>
                <!-- End Footer Logo -->
            </div>
            <!-- End Row -->
        </div>
    </div>
    <!-- End Section Content -->
</div>
<!-- End Footer -->